
html,
body {
  height: 100%;
	width : 100%;
  font-family: 'Roboto', sans-serif;
}

.container{
  padding: 5px;
}

.md-toolbar-tools{
  padding: 0px;
}
.footer {
  position: absolute;
  height: 10%;
  width: auto;
  /* margin: 10px; */
  left: 5px;
  right: 5px;
  bottom: 0;
}

.footer div {
  text-align: center;
}

.list-group {
  position: relative;
  display: block;
  margin-bottom: -1px;
  background-color: #fff;
  height: auto;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100vh;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}

.mapHolder{
  /*center the map*/
  /*position: relative;*/
  width: auto;
  /*height: 100%;*/
  padding: 0px;
}


/* style for fab button*/

.fab{
  position: absolute;
  bottom: 15%;
  left: 1%;
}

.md-button .md-fab{
  display: inline-block;

  width: auto;
}

.toolKit{

  display: flex;
  flex-direction: column;
}



.toolKit .md-button>div{
  width: 100%;
  margin: 5px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
}

.toolKit .buttonIcon{
  flex: 1;
}

.toolKit .buttonText{
  flex: 4;
}

.userIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.toolKit md-toolbar{
  padding: 10px;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  /*align-items: center;*/
  line-height: 110%;
}

.toolKit md-toolbar>div{
  margin: 5px;
}

.toolKit .md-button{
  /*flex: 3;*/
  width: 100%;
  margin: 0px;
}

#satisfied i{
  color: green;
}

#unsatisfied i{
  color: red;
}
.feedBackButton:before{
  visibility: hidden;
  display: block;
  width: 200px;
  height: 20px;
  background-color: red;
}
.feedBackButton:hover:before{
  visibility: visible;

}
