<!-- Basic column layout -->
<div layout="column"  style="height: 100vh;">
  <!-- Nav Header -->
  <div class="container">
    <div layout-xs="row">
      <md-toolbar class="md-hue-2" >
        <div class="md-toolbar-tools">
          <div>
            <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
              <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
            </md-button>
          </div>
          <div flex>
            <md-autocomplete
              md-no-cache="true"
              md-selected-item="selectedItem"
              md-search-text="searchText"
              md-selected-item-change="selectedStopChange(item)"
              md-items="item in querySearch(searchText)"
              md-item-text="item.stop_name"
              md-min-length="1"
              placeholder="Which bus stop are you looking for?">
            <md-item-template>

              <!-- <span md-highlight-text="searchText" md-highlight-flags="^i" ng-repeat="stop in item.stop_points">{{stop.stop_name}}</span> -->
              <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.stop_name}}</span>

            </md-item-template>

            <md-not-found>
              No stop matches "{{searchText}}" were found.
            </md-not-found>
            </md-autocomplete>
          </div>
          <div>
            <md-button class="md-icon-button" aria-label="Search" ng-click="selectedStopChange(selectedItem)">
              <i class="fa fa-search " aria-hidden="true"></i>
            </md-button>
          </div>
          <!-- <md-button class="md-icon-button" aria-label="Routes">
            <a href="./"><i class="fa fa-repeat " aria-hidden="true"></i></a>
          </md-button> -->
        </div>
      </md-toolbar>
    </div>
  </div>

  <!-- Map Region -->
  <div flex class="container" layout="row">

      <!-- Side Nav -->
      <md-sidenav class="md-sidenav-left toolKit" md-component-id="left" md-whiteframe="4">

        <!-- Side Nav Header -->
        <md-toolbar class="md-theme-indigo">
          <div class="userIcon"><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i></div>
          <div class="userName"> Hi Passenger!</div>
        </md-toolbar>

        <md-content layout-margin >
          <div>
            <md-button ng-click="locateUser()">
              <div>
                <div class="buttonIcon">
                  <i class="fa fa-compass fa-lg" aria-hidden="true"></i>
                </div>
                <div class="buttonText">
                  Locate Me
                </div>
              </div>
            </md-button>
          </div>
          <div>
            <md-button ng-click="getNearestStop()">
              <div>
                <div class="buttonIcon" >
                  <i class="fa fa-location-arrow fa-lg" aria-hidden="true"></i>
                </div>
                <div class="buttonText">
                  Nearest Stop
                </div>
              </div>
            </md-button>
          </div>
          <div>
            <md-button ng-click="selectedStopChange(selectedItem)">
              <div>
                <div class="buttonIcon">
                  <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
                </div>
                <div class="buttonText">
                  Back to Stop
                </div>
              </div>
            </md-button>
          </div>
        </md-content>

      </md-sidenav>

      <div flex class="mapHolder" md-whiteframe="2" id="GoogleMap">

      </div>

      <!-- FAB BUTTON -->
      <div class="fab" class="feedBackButton" layout="row" layout-align="center center" ng-controller="fabCtrl as fb">

        <md-fab-speed-dial ng-show="currentStates.isSelected" md-open="false" md-direction="{{fb.selectedDirection}}"
                           ng-class="fb.selectedMode">
          <md-fab-trigger>
            <md-button aria-label="menu" class="md-fab md-warn">
              <md-icon md-font-icon="fa-list fa-lg" class="fa"></md-icon>
            </md-button>
          </md-fab-trigger>

          <md-fab-actions>
            <md-button aria-label="satisfied" class="md-fab md-raised md-mini">
              <md-icon md-font-icon="fa-smile-o fa-lg" class="fa" aria-label="satisfied" ng-click="fb.clickHandler(true)"></md-icon>
            </md-button>
            <!-- <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
              <md-icon md-svg-src="img/icons/facebook.svg" aria-label="Facebook"></md-icon>
            </md-button> -->
            <md-button aria-label="unsatisfied" class="md-fab md-raised md-mini">
                <md-icon md-font-icon="fa-frown-o fa-lg" class="fa" aria-label="unsatisfied" ng-click="fb.clickHandler(false)"></md-icon>
            </md-button>
          </md-fab-actions>
        </md-fab-speed-dial>

      </div>


  </div>


  <!-- Footer -->
  <!-- <div md-whiteframe="2" class="footer" layout="row" layout-align="center center">
    <div flex="33">
      <md-button class="md-icon-button md-accent" aria-label="Use Android">
        <i class="fa fa-star fa-2x" aria-hidden="true"></i>
      </md-button>
      <div>
        Stop
      </div>
    </div>
    <div flex="33">
      <md-button class="md-icon-button md-primary" aria-label="Use Android">
        <i class="fa fa-bus fa-2x" aria-hidden="true"></i>
      </md-button>
      <div>
        Bus
      </div>
    </div>
    <div flex="33">
      <md-button class="md-icon-button" aria-label="Use Android">
        <i class="fa fa-cloud fa-2x" aria-hidden="true"></i>
      </md-button>
      <div>
        Weather
      </div>
    </div>

  </div> -->

</div>
