
<md-card md-theme-watch class="card">
  <md-card-title>

    <md-card-title-text>
      <span class="md-headline">{{stopInfo.stop_name}}</span>
      <!-- <span class="md-subhead">subhead</span> -->
    </md-card-title-text>

  </md-card-title>

  <md-card-content layout-gt-xs="row" >
    <md-card-title-media>
      <div class="md-media-xl card-media routeContainer" ng-if="availableRoutes.length != 0">
        <md-list flex>
          <md-list-item flex class="md-whiteframe-1dp" ng-repeat="route in availableRoutes | orderBy: -expected_mins" ng-click="getVehicleLocation(route)" class="md-1-inline">
            <div class="dialogRoute" layout="column">
              <div layout="row">
                <div style="background-color: #{{route.route.route_color}}; padding: 0 2px; border-radius: 2px;">
                  <b style="color: ghostWhite">{{route.headsign}}</b>
                </div>
                <div class="pull-right">
                  {{route.expected_mins}}mins
                </div>
              </div>
              <div>
                {{route.trip.trip_headsign}}
              </div>
              <!-- <h3>{{route.headsign}}<span>{{route.expected_mins}}mins</span></h3>
              <h4>{{route.trip.trip_headsign}}</h4> -->
            </div>
          </md-list-item>
        </md-list>
      </div>
      <div class="noRoutes" ng-if="availableRoutes.length == 0">
        <div>
          <i class="fa fa-bus fa-3x" aria-hidden="true"></i>
        </div>
        <div>
          Sorry,
          there is no departure information for this stop.
        </div>
      </div>
    </md-card-title-media>
  </md-card-content>

  <md-card-actions class="cardActionGroup">
    <md-button id="satisfied">
      <i class="fa fa-smile-o fa-lg" aria-hidden="true"></i>
      {{upVote}}
    </md-button>
    <md-button id="unsatisfied">
      <i class="fa fa-frown-o fa-lg" aria-hidden="true"></i>
      {{downVote}}
    </md-button>
  </md-card-actions>

</md-card>
